<div class="row">
  <div class="col-xs-12">
  <div class="col-sm-offset-2 col-sm-8">
  <div class="col-sd-offset-2 col-sd-8">
  <div class="col-lg-offset-3 col-lg-6">

  <h1>Task新規作成</h1>
  </div>
  </div>
  </div>
  </div>
</div>

<%= render 'form', task: @task %>
